adfdevrangerover001/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfdevrangerover001"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"LSAvroAPI_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LSAvroAPI'"
		},
		"LS_CSV_ADLS_MV_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_CSV_ADLS_MV'"
		},
		"LS_CSV_ARVO_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_CSV_ARVO'"
		},
		"LS_DEV_RANGEROVER_CSV_PARQUET_SINK_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_DEV_RANGEROVER_CSV_PARQUET_SINK'"
		},
		"LS_DEV_RangeRover_EXCEL_Parquet_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_DEV_RangeRover_EXCEL_Parquet'"
		},
		"LS_ONPREMSQL_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_ONPREMSQL'"
		},
		"LS_Orc1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_Orc1'"
		},
		"LS_PL_ONPREM_SQL_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_PL_ONPREM_SQL'"
		},
		"LS_RANGEROVER_CSV_PARQUET_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_RANGEROVER_CSV_PARQUET'"
		},
		"LS_SQLONPREM_AUDIT_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQLONPREM_AUDIT'"
		},
		"LS_SQL_BLOB_SINK_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_SQL_BLOB_SINK'"
		},
		"LS_SQL_CSV_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQL_CSV'"
		},
		"LS_rangerroverblob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_rangerroverblob'"
		},
		"PL_Onprem_SqlServerAd_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'PL_Onprem_SqlServerAd'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevrangerovercsv001.dfs.core.windows.net/"
		},
		"LSAvroAPI_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevrangeroverparquet.dfs.core.windows.net/"
		},
		"LS_CSV_ADLS_MV_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevrangerovercsv001.dfs.core.windows.net/"
		},
		"LS_CSV_ARVO_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevrangerovercsv001.dfs.core.windows.net/"
		},
		"LS_DEV_RangeRover_EXCEL_Parquet_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevrangerovercsv001.dfs.core.windows.net/"
		},
		"LS_ONPREMSQL_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost\\SQLEXPRESS"
		},
		"LS_ONPREMSQL_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "college"
		},
		"LS_ONPREMSQL_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sa"
		},
		"LS_Orc1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevrangeroverparquet.dfs.core.windows.net/"
		},
		"LS_PL_ONPREM_SQL_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost\\SQLEXPRESS"
		},
		"LS_PL_ONPREM_SQL_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorks2019"
		},
		"LS_PL_ONPREM_SQL_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sa"
		},
		"LS_RANGEROVER_CSV_PARQUET_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevrangerovercsv001.dfs.core.windows.net"
		},
		"LS_SQLONPREM_AUDIT_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost\\SQLEXPRESS"
		},
		"LS_SQLONPREM_AUDIT_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorks2019"
		},
		"LS_SQLONPREM_AUDIT_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sa"
		},
		"LS_SQL_CSV_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost\\SQLEXPRESS"
		},
		"LS_SQL_CSV_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "master"
		},
		"LS_SQL_CSV_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sa"
		},
		"PL_Onprem_SqlServerAd_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "localhost\\SQLEXPRESS"
		},
		"PL_Onprem_SqlServerAd_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "AdventureWorks2019"
		},
		"PL_Onprem_SqlServerAd_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sa"
		},
		"EV_TR_CSV_ADLS_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/7a485058-89f8-4e5d-9ff0-4d8b5c9ea3d5/resourceGroups/rg_dev_rangerover001/providers/Microsoft.Storage/storageAccounts/adlsdevrangerovercsv001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_CSV_ADLS_MOVEMENT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "data",
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CSV_ADLS_MV",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_DEV_RANGEROVER_CSV_PARQUET_SINK",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-11-11T13:53:37Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_CSV_ADLS_MV')]",
				"[concat(variables('factoryId'), '/datasets/DS_DEV_RANGEROVER_CSV_PARQUET_SINK')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Meta_Condtion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Ds_SqlServerTable",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"columnCount"
							]
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('Get Metadata1').output.columnCount,0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Set variable2",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "value1",
										"value": {
											"value": "string(empty)",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "value",
										"value": {
											"value": "string(@activity('Get Metadata1').columnCount)",
											"type": "Expression"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"value": {
						"type": "String"
					},
					"value1": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Ds_SqlServerTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_ADLS_MV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CSV_ADLS_MV",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "data",
						"fileSystem": "eventtrigeer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CSV_ADLS_MV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_ARVO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CSV_ARVO",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "moviesemp.csv",
						"fileSystem": "csvdatamovies"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CSV_ARVO')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_DEV_RANGEROVER_CSV_PARQUET_SINK')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_DEV_RANGEROVER_CSV_PARQUET_SINK",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "output"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_DEV_RANGEROVER_CSV_PARQUET_SINK')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_RANGEROVER_CSV_PARQUET')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_RANGEROVER_CSV_PARQUET",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SIC_Code",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_RANGEROVER_CSV_PARQUET')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ds_SqlServerTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_PL_ONPREM_SQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "BusinessEntityID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PersonType",
						"type": "nchar"
					},
					{
						"name": "NameStyle",
						"type": "bit"
					},
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "Suffix",
						"type": "nvarchar"
					},
					{
						"name": "EmailPromotion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AdditionalContactInfo",
						"type": "xml"
					},
					{
						"name": "Demographics",
						"type": "xml"
					},
					{
						"name": "rowguid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "Person",
					"table": "Person"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_PL_ONPREM_SQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LSAvroAPI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LSAvroAPI_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LSAvroAPI_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CSV_ADLS_MV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_CSV_ADLS_MV_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_CSV_ADLS_MV_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CSV_ARVO')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_CSV_ARVO_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_CSV_ARVO_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_DEV_RANGEROVER_CSV_PARQUET_SINK')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service for adlsdevrangeroverparquet",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_DEV_RANGEROVER_CSV_PARQUET_SINK_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_DEV_RangeRover_EXCEL_Parquet')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_DEV_RangeRover_EXCEL_Parquet_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_DEV_RangeRover_EXCEL_Parquet_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ONPREMSQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_ONPREMSQL_properties_typeProperties_server')]",
					"database": "[parameters('LS_ONPREMSQL_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_ONPREMSQL_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_ONPREMSQL_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfHostedintegrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedintegrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_Orc1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_Orc1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_Orc1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_PL_ONPREM_SQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_PL_ONPREM_SQL_properties_typeProperties_server')]",
					"database": "[parameters('LS_PL_ONPREM_SQL_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_PL_ONPREM_SQL_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_PL_ONPREM_SQL_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfHostedintegrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedintegrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_RANGEROVER_CSV_PARQUET')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked Service for adlsdevrangerovercsv001 ",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_RANGEROVER_CSV_PARQUET_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_RANGEROVER_CSV_PARQUET_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLONPREM_AUDIT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SQLONPREM_AUDIT_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQLONPREM_AUDIT_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQLONPREM_AUDIT_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQLONPREM_AUDIT_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfHostedintegrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedintegrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_BLOB_SINK')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_SQL_BLOB_SINK_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQL_CSV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SQL_CSV_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQL_CSV_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQL_CSV_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQL_CSV_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfHostedintegrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedintegrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_rangerroverblob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('LS_rangerroverblob_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Onprem_SqlServerAd')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('PL_Onprem_SqlServerAd_properties_typeProperties_server')]",
					"database": "[parameters('PL_Onprem_SqlServerAd_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('PL_Onprem_SqlServerAd_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('PL_Onprem_SqlServerAd_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfHostedintegrationRuntime1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedintegrationRuntime1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EV_TR_CSV_ADLS')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_CSV_ADLS_MOVEMENT",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/eventtrigeer/blobs/data",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('EV_TR_CSV_ADLS_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_CSV_ADLS_MOVEMENT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCHTR_SQL_ADLS_MOVEMENT')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Trigger is used for sql to adls",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2025-11-12T21:30:00",
						"timeZone": "India Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SelfHostedintegrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}